<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Pastries</title>
  </head>
  <body>
    <h1>Welcome to the Pastry app!</h1>
    <img class="pic1" src="https://i.ibb.co/nmMFMN4/dough-rolling.png"/>
    <p>An app for collecting your favorite pastries</p>
    <a class="pastries-index-link" href="/pastries">Browse Pastries</a>
  </body>
  <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a></footer>
</html>
